<!--
     Copyright (C) 2022 The Nameless-AOSP Project
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nameless.display.resolution.sysui"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.systemui" android:category="android.resolution.customization" android:requiredSystemPropertyName="ro.product.device" android:requiredSystemPropertyValue="OnePlus9Pro" android:priority="1000" />

    <application android:label="FHD+ SystemUI" android:hasCode="false" />
</manifest>
